<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav></nav>
    <div class="everything">
      <div class="intro_con">
        <h1 class="centered">Livet til Benjamin Brunsgaard Reinertsen</h1>
        <h2>-Denne artikkelen handler om Benjamin Brunsgaard Reinertsen</h2>
        <img
          src="{{ url_for('static', filename='images/edited.JPG') }}"
          alt=""
          class="image"
        />
        <h3>Foto: Dina Reinertsen</h3>
        <h4>Skrevet av Benjamin Reinertsen</h4>
        <p class="centered">
          Hei, mitt navn er Benjamin og jeg går på tangen videregående skole på
          IT. jeg trives skiggelig godt. Jeg har to søsken en mor og en far en
          søster på 11 år og en søster på 15 år, de begge går på Oasen Skole
          strømme. Den samme jeg gikk på på ungdomsskolen. <br />
          <br />
          <br />

          Jeg vokste opp i en liten by som heter Gjøvik. Den er ikke like liten
          nå lenger, men på den tiden føltes den like stor som den er i dag. Der
          gikk jeg på Vindingstad skole helt til 2020 da vi flyttet til
          Kristiansand <br />
          <br />
          <br />

          Da jeg flyttet til Kristiansand ble jeg kjappt kjent med folk på Oasen
          skole strømme. Der jeg gikk ut ungdomskolen. Så begynte jeg på tangen
          <br />
          <br />
          <br />

          På tangen begynte jeg på IM, jeg hadde siden hospiteringen i 10.
          klasse visst at det var veien videre. Nå går jeg på VG2 IT og koser
          meg her. Og jeg ser en vei videre i livet innenfor IT.
        </p>
      </div>

      <div class="tangen_con">
        <p>Her er tre ting jeg liker</p>
        <ul>
          <li>Programmering</li>
          <li>Videospill</li>
          <li>Sjokolademelk</li>
        </ul>
      </div>
    </div>
  </body>
</html>
